In [ ]:
# Importar Bibliotecas Necessárias
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, f1_score
import joblib
import mlflow
from pycaret.classification import *

# Definir função para divisão de dados
def split_data(data, test_size=0.2):
    """
    Função para dividir os dados em conjuntos de treino e teste.
    """
    #features 
    X = data.drop('shot_made_flag', axis=1)
    #target
    y = data['shot_made_flag']
    
    # Dividir os dados de forma aleatória e estratificada
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, stratify=y, random_state=42)
    
    return X_train, X_test, y_train, y_test

# Definir função para salvar dados em formato Parquet
def save_data(X, y, file_path):
    """
    Função para salvar os conjuntos de dados em formato Parquet.
    """
    # Criar o diretório se não existir
    os.makedirs(os.path.dirname(file_path), exist_ok=True)
    
    # Concatenar os recursos e o alvo
    data = pd.concat([X, y], axis=1)
    
    # Salvar os dados em formato Parquet
    data.to_parquet(file_path, index=False)

# Iniciar o experimento do MLflow
mlflow.start_run(run_name="Treinamento")

# Carregar os dados pré-processados de desenvolvimento
data_file = 'Proj_Kobe-Bryant-Shot-Selection/data/processed/dataset_kobe_dev.parquet'
df_kobe = pd.read_parquet(data_file)

# Definir as features e o target
features = df_kobe.drop('shot_made_flag', axis=1)
target = df_kobe['shot_made_flag']

# Separar os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Salvar os conjuntos de dados em arquivos Parquet
save_data(X_train, y_train, "Proj_Kobe-Bryant-Shot-Selection/data/processed/base_train.parquet")
save_data(X_test, y_test, "Proj_Kobe-Bryant-Shot-Selection/data/processed/base_test.parquet")

# Calcular o percentual de teste
test_percentage = len(X_test) / len(df_kobe)
        
# Registrar os parâmetros e métricas no MLflow
mlflow.log_param("test_percentage", test_percentage)
mlflow.log_metric("train_dataset_size", len(X_train))
mlflow.log_metric("test_dataset_size", len(X_test))

# Treinar os modelos e registrar no MLflow
setup(data=pd.concat([X_train, y_train], axis=1), target='shot_made_flag')

# Treinar um modelo de regressão logística
lr_model = create_model('lr')

# Prever probabilidades usando o modelo de regressão logística
lr_predictions_proba = lr_model.predict_proba(X_test)
lr_predictions_proba_positive = lr_predictions_proba[:, 1]

# Calcular a função de custo "log loss" usando as probabilidades previstas
log_loss_test = log_loss(y_test, lr_predictions_proba_positive)
mlflow.log_metric("log_loss_test", log_loss_test)

# Treinar um modelo de classificação
classification_model = compare_models()

# Fazer previsões usando o modelo de classificação
classification_model_predictions = classification_model.predict(X_test)

# Registrar a função de custo "log loss" e F1_score para esse novo modelo
log_loss_classification = log_loss(y_test, classification_model_predictions)
f1_score_classification = f1_score(y_test, classification_model_predictions)
mlflow.log_metric("log_loss_classification", log_loss_classification)
mlflow.log_metric("f1_score_classification", f1_score_classification)

# Finalizar o experimento do MLflow
mlflow.end_run()

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,15:11:24
Status,. . . . . . . . . . . . . . . . . .,Fitting 10 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Processing:   0%|          | 0/61 [00:00<?, ?it/s]